*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Nunito Sans', sans-serif;
}

:root{
    --Dark-Blue-Dark-Mode-Elements:hsl(209, 23%, 22%);
    --Very-Dark-Blue-Dark-Mode-Background:hsl(207, 26%, 17%);
    --Very-Dark-Blue-Light-Mode-Text:hsl(200, 15%, 8%);
    --Dark-Gray-Light-Mode-Input:hsl(0, 0%, 52%);
    --Very-Light-Gray-Light-Mode-Background:hsl(0, 0%, 98%);
    --White-Dark-Mode-Text-Light-Mode-Elements:hsl(0, 0%, 100%);
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

button{
    cursor:pointer;
}

.bold-800{
    font-weight:800;
}

.bold-600{
    font-weight:600;
}

.app-dark  *{
    color:var(--White-Dark-Mode-Text-Light-Mode-Elements) !important;
}

.light-body{
    background-color:var(--Very-Light-Gray-Light-Mode-Background);
}

.dark-body{
    background-color:var(--Very-Dark-Blue-Dark-Mode-Background);
}

#header{
    padding:1rem 3.5rem;
    justify-content:space-between;
    color:var(--Very-Dark-Blue-Light-Mode-Text);
}

.light-header{
    background-color:#FFF;
    color:var(--Very-Dark-Blue-Light-Mode-Text);
    box-shadow:0 0 5px 0 hsla(0, 0%, 52%, 0.425);
}

.dark-header{
    background-color:var(--Dark-Blue-Dark-Mode-Elements);
    box-shadow:0 0 4px 0 var(--Very-Dark-Blue-Light-Mode-Text) !important;
}

h1{
    font-size:1.5rem;
    font-weight:800;
}

#mode{
    gap:10px;
    font-size:16px;
    font-weight:600;
    border:none;
    background-color:transparent;
}

#themeImg{
    height:30px;
    width:15px;
    transform:rotate(-25deg);
}

#countryCardContainer{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    margin-top:1.5rem;
    row-gap:3.5rem;
}

.card{
    width:250px;
    max-width:98vw;
    background-color:var(--Very-Light-Gray-Light-Mode-Background);
    margin:0 auto 0 auto;
    padding-bottom:1.5rem;
    border-radius:0.5rem;
    overflow:hidden;
    box-shadow:0 0 4px 0 var(--Dark-Gray-Light-Mode-Input);
    cursor:pointer;
    color:var(--Very-Dark-Blue-Dark-Mode-Background);
}

.dark-card{
    background-color:var(--Dark-Blue-Dark-Mode-Elements);
    box-shadow:0 0 4px 0 var(--Very-Dark-Blue-Light-Mode-Text);
}

.card > img{
    width:100%;
    max-height:150px;
}